<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="./main.css" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gogole</title>
</head>

<body>
    <main>
        <div class="choix">
            <a class="index" href="/">INDEXER</a>
            <a class="recherche" href="/recherche">RECHERCHER</a>
        </div>
        <h1>Indexer</h1>
        <form action="/" method="post">
            <section>
                <label for="url">URL</label>
                <input type="url" name="url" placeholder="https://exemple.fr" />
            </section>
            <input style="background-color: green;" type="submit" value="INDEXER" />
        </form>
        <h2>Pages indexées</h2>
        <div id="result" class="result">
            <b>{{message}}</b> <!-- introduit la valeur de "message" -->
        </div>
    </main>
    <script src="main.js"> </script>
</body>

</html>