
main{
    font-family: cursive;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.index {
    color: grey;
}

.recherche {
    background-color: rosybrown;
    color: white;
}

.choix{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

a{
    padding: 5px;
    border: solid 1px;
    border-color: grey;
    text-decoration: none;
}

form{
    text-align: center;
}

section{
    margin-bottom: 1rem;
}

h2{
    margin-bottom: 0;
}

.result{
    width: 90%;
    height: 300px;
    border: solid 2px;
    border-color: black;
    overflow: scroll;
}